In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [3]:
data = pd.read_csv("dataset.csv")
data = data.dropna()
data.head()

,Sex,Wr.Hnd,NW.Hnd,W.Hnd,Fold,Pulse,Clap,Exer,Smoke,Height,M.I,Age
1,Female,16.5,15.0,Right,L on R,65.0,Right,Some,Regul,160.02,Imperial,32.750
4,Male,18.5,18.0,Right,Neither,63.0,Neither,Freq,Never,196.00,Metric,20.083
5,Male,20.0,19.5,Right,R on L,68.0,Neither,Freq,Regul,190.00,Metric,19.417
6,Male,18.5,18.0,Right,L on R,64.0,Right,Freq,Never,180.34,Imperial,17.833
8,Male,18.0,18.0,Right,Neither,60.0,Right,Freq,Never,179.00,Metric,21.583

In [5]:
alpha_level = 0.1
data_male = data[data["Sex"]=="Male"]["Smoke"]
data_female = data[data["Sex"]=="Female"]["Smoke"]

ct = pd.crosstab(data["Sex"], data["Smoke"])
chi2, p, dof, expected = stats.chi2_contingency(ct)

print("Chi-squared statistic:", chi2)
print("p-value:", p)
print("Degrees of freedom:", dof)
print("Expected frequencies:", expected)

Chi-squared statistic: 14.095013808893562
p-value: 0.0027786343213513365
Degrees of freedom: 3
Expected frequencies: [[  7.52631579 114.30592105   7.99671053  13.17105263]
 [  8.47368421 128.69407895   9.00328947  14.82894737]]

In [8]:
from statsmodels.stats.power import zt_ind_solve_power

alpha = 0.1  # significance level
power = 0.9  # desired power
effect_size = 0.1  # difference in proportions (p1 - p2)

sample_size = zt_ind_solve_power(effect_size=effect_size, alpha=alpha, power=power, ratio=1)
print(f"Required sample size per group: {sample_size:.2f}")

Required sample size per group: 1712.75